<div class="application-container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#liquorprices-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Liquor Prices</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="liquorprices-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown" id="scotch">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scotch<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="scotch-all"><a {{action 'closemenu' 'scotch-all'}}>All</a></li>
            <li></li>
            <li class="divider"></li>
            <li id="scotch-blended"><a {{action 'closemenu' 'scotch-blended'}}>Blended</a></li>
            <li id="scotch-single"><a {{action 'closemenu' 'scotch-single'}}>Single Malt</a></li>
          </ul>
        </li>
        <li class="dropdown" id="vodka">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vodka<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="vodka-all"><a {{action 'closemenu' 'vodka-all'}}>All</a></li>
            <li class="divider"></li>
            <li id="vodka-domestic"><a {{action 'closemenu' 'vodka-domestic'}}>Domestic</a></li>
            <li id="vodka-imported"><a {{action 'closemenu' 'vodka-imported'}}>Imported</a></li>
          </ul>
        </li>
        <li id="rum"><a {{action 'closemenu' 'rum'}}>Rum</a></li>
        <li id="whiskey"><a {{action 'closemenu' 'whiskey'}}>Whiskey</a></li>
        <li id="tequila"><a {{action 'closemenu' 'tequila'}}>Tequila</a></li>
        <li id="gin"><a {{action 'closemenu' 'gin'}}>Gin</a></li>
        <li class="dropdown" id="other">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li id="other-liquors"><a {{action 'closemenu' 'other-liquors'}}>Other Liquors</a></li>
            <li id="mixers"><a {{action 'closemenu' 'mixers'}}>Mixers</a></li>
            <li id="sparkling"><a {{action 'closemenu' 'sparkling'}}>Sparkling Wine</a></li>
            <li id="american"><a {{action 'closemenu' 'american'}}>American Wine</a></li>
            <li id="french"><a {{action 'closemenu' 'french'}}>French Wine</a></li>
            <li id="imported-wine"><a {{action 'closemenu' 'imported-wine'}}>Imported Wine</a></li>
            <li id="other-wine"><a {{action 'closemenu' 'other-wine'}}>Other Wine</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-form navbar-right" role="search">
        <div class="form-group">
          {{input type="text" action="search" value=searchstring}}
        </div>
        <button {{action 'search'}}>Search</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{outlet}}
</div>
