<div class="row">
	<div class="col-xs-12 page-title">
		Best Discounts for {{today}}
	</div>
</div>

{{view App.SaleSummaryRowView liquorBinding="liquors.SCOTCH" liquorTitleBinding="scotchTitle"  liquorUrlBinding="scotchUrl"}}
{{view App.SaleSummaryRowView liquorBinding="liquors.TEQUILA" liquorTitleBinding="tequilaTitle"  liquorUrlBinding="tequilaUrl"}}
{{view App.SaleSummaryRowView liquorBinding="liquors.WHISKEY" liquorTitleBinding="whiskeyTitle"  liquorUrlBinding="whiskeyUrl"}}
{{view App.SaleSummaryRowView liquorBinding="liquors.RUM" liquorTitleBinding="rumTitle"  liquorUrlBinding="rumUrl"}}
{{view App.SaleSummaryRowView liquorBinding="liquors.VODKA" liquorTitleBinding="vodkaTitle"  liquorUrlBinding="vodkaUrl"}}

{{outlet}}