<div class="row">
	<div class="row">
		<div class="col-xs-10 col-sm-11 col-centered section-row-title top-buffer">
			{{view.liquorTitle}}
		</div>
	</div>
	<div class="row">
	  {{#each view.liquor}}
	  <div class="col-xs-12 col-sm-3 center-col-contents">
	  	<div class="row">
	  		<a href="#/detail/{{unbound id}}">{{longdescription}}</a>
	  	</div>
	  	<div class="row index-image-col">
	  		<a href="#/detail/{{unbound id}}"><img {{bind-attr src=imageUrl}} alt="liquor_image"></img></a>
	  	</div>
	  	<div class="row">
	  		{{format-discount discount}} off
	  	</div>
	  	<div class="row sale-price">
	  		{{format-dollar cursaleprice}}
	  	</div>
	  </div>
	  {{/each}}
	</div>
</div>