<div class="row-fluid subscription-grid">
	<div class="col-xs-12">
		<h4>Manage Your Subscriptions</h4>
	</div>
	{{#if priceSubscriptions}}
	<div class="col-xs-12">
		<div class = "col-xs-12 section-row-title">
			Price Subscriptions
		</div>
		{{#each priceSubscriptions}}
			<div class="col-xs-12 col-sm-4 col-lg-3">
				<a {{bind-attr href=detailUrl}}>
					<div class="liquor-container" {{bind-attr style=bgImageStyle}}>
						<div class="liquor-name">{{longdescription}} - {{size}}</div>
						<div class="remove-button">
							<button class="btn btn-primary" onclick="return false;" data-toggle="modal" data-target=".price-{{unbound itemId}}">Remove</button>
						</div>
					</div>
				</a>
				<div class="modal subscription-modal fade price-{{unbound itemId}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				      <div class="description">Are you sure that you want to remove your price drop alert for {{longdescription}} - {{size}}?</div>
				      <div class="button"><button {{action 'removeSubscription' this}} class="btn btn-default">Remove</button></div>
				    </div>
				  </div>
				</div>
			</div>
		{{/each}}
	</div>
	{{/if}}

	{{#if stockSubscriptions}}
	<div class="col-xs-12">
		<div class = "col-xs-12 section-row-title top-buffer">
			In Stock Subscriptions
		</div>
		{{#each stockSubscriptions}}
			<div class="col-xs-12 col-sm-4 col-lg-3">
				<a {{bind-attr href=detailUrl}}>
					<div class="liquor-container" {{bind-attr style=bgImageStyle}}>
						<div class="liquor-name">{{longdescription}} - {{size}}</div>
						<div class="remove-button">
							<button class="btn btn-primary" onclick="return false;" data-toggle="modal" data-target=".stock-{{unbound itemId}}">Remove</button>
						</div>
					</div>
				</a>
				<div class="modal subscription-modal fade stock-{{unbound itemId}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				      <div class="description">Are you sure that you want to remove your in stock alert for {{longdescription}} - {{size}}?</div>
				      <div class="button"><button {{action 'removeSubscription' this}} class="btn btn-default">Remove</button></div>
				    </div>
				  </div>
				</div>
			</div>
		{{/each}}
	</div>
	{{/if}}
</div>